<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>技术导航</title>
  <meta
    name="keywords"
    content="程序员导航,网站导航,万能导航,软件开发导航,软件开发合集,webhub,网络收藏夹"
  />
  <meta
    name="description"
    content="收录了大量技术相关站点，为广大用户提供学习网站、学习方向、学习途径。收录国内外网站。"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no"
  />
  <link rel="shortcut icon" href="img/logo.ico" />
  <link rel="stylesheet" href="./styles/reset.css" />
  <link rel="stylesheet" href="./font/iconfont.css" />
  <link rel="stylesheet" href="./styles/nprogress.css" />
  <link rel="stylesheet" href="./styles/search.css" />
  <link rel="stylesheet" href="./styles/index.css" />
  <script
    data-ad-client="ca-pub-8464814345106485"
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
</head>

<body>
  <div class="container" id="container">
</body>

</html>